@font-face {
  font-family:ArchitectsDaughter-Regular;
  src: url(font/ArchitectsDaughter-Regular.ttf);
}
@font-face {
  font-family: PatrickHand-Regular;
  src: url(font/PatrickHand-Regular.ttf);
}

.App {
  font-family: PatrickHand-Regular;
  margin: 0%;
}

