
.html,body,#root{
    margin:0;
    padding-left:3%;
    padding-right:3%;
    height:100%;
    width:auto;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    min-height:100vh;  
    font-family: PatrickHand-Regular;

}
.todo{
    width:80%;
    max-width:500px;
    min-width:100px;
    height:100%;
    margin:0 auto;
}

.list-input{
    width:100%;
    margin-left:5%;
    padding:10px 15px;
    box-sizing:border-box;
    font-size:16px;
    border: 0px solid;
    border-radius: 5px;
}

.todo-title{

    color:#5B5B5B;
    text-align:center;
    padding:30px;
    font-size:40px;
    text-decoration:underline;
    font-weight: bold;
}
.detail{
    background:white;
    display:flex;
    justify-content:space-between;
    padding:10px 20px;
    margin: 10px;
    border-radius: 30px;
    font-size:18px;
    letter-spacing:2px;
}

.todo-list{
    list-style-type:none;
    padding:0; 
}
.detail-item-left{
    max-width:  80%;
    margin: 0;
}
.detail-checkbox{
    position: absolute;
    margin-top: 6px;
    
}
.detail-text {
    overflow-wrap:break-word;
    text-align:left;
    margin-left: 30px;
}
.alert{
    width:15px;
    height:auto;
}
.alert:hover{
    cursor:pointer;
    color:red;
}
.todoButton{
    background: white;    
    padding: 10px;
    margin-left: 5px;
    border-color:#c9c9c9;
    border-radius: 5px;
    border-style: solid;
    margin-right:5%;
    
}
.todoButton:hover{
    cursor:pointer;
    background: #c9c9c9;
    
}
.search{
    display: flex;
    max-width: 490px;
}
.detail-check{
    text-decoration:line-through;
    color:gray;
  }
